@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700&display=swap');
:root{
  --main-background: #EDEDED;
  --main-color: #FF4200;
  --second-color: #FFE8E0;
  --sub-color: #C9C5C4;
  --xs: 320px;
  --sm: 576px;
  --m: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}
body{
  background: var(--main-background) no-repeat center center fixed;
}
#app{
  font-family: 'Red Hat Display', sans-serif;
}
.container{
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 90px;
  width: 90%;
  @media screen and (max-width: 320px){
    max-width: 280px;
  }
  @media screen and (max-width: 576px){
    max-width: 540px;
  }
  @media screen and (max-width: 768px){
    max-width: 720px;
  }
  @media screen and (max-width: 992px){
    max-width: 960px;
  }
  @media screen and (max-width: 1200px){
    max-width: 1140px;
  }
  @media screen and (max-width: 1440px){
    max-width: 1320px;
  }
}
.input-group-text{
  background-color: white;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:visited, &:hover, &:focus{
    text-decoration: none;
  }
}
@import "blocks/images";
@import "blocks/titles";
@import "blocks/buttons";