.button {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  width: auto;
  padding: 0;
  color: var(--sub-color);
  border-radius: 15px;
  &_main {
    background-color: var(--main-color);
    color: white;
  }
  &_second {
    background-color: var(--second-color);
    color: var(--main-color);
  }
  &_disable {
    background-color: var(--sub-color);
    color: darkgray;
      cursor: not-allowed;
  }
  &_pill {
    border-radius: 100px;
  }
}