.title{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  &_fz20{
    font-size: 20px;
    line-height: 24px;
  }
  &_fz14{
    font-size: 14px;
    line-height: 19px;
  }
  &_fz10{
    font-size: 10px;
    line-height: 13px;
  }
  &_fz12{
    font-size: 12px;
    line-height: 16px;
  }
  &_sub{
    color: var(--sub-color);
  }
  &_center{
    text-align: center;
  }
}