<template>
  <div class="cart">
    <f-navbar back-btn cart-btn>
      <template v-slot:title>
        <div class="title title_fz16 title_sub title_center">Корзина</div>
      </template>
    </f-navbar>
    <template v-if="!cartIsEmpty">
      <section class="section-wrapper dish-list">
        <div class="dish-list__wrapper">
          <f-dish-cart-card
            v-for="(count, dish_id) in cart"
            :key="dish_id"
            :dish_id="dish_id"
          />
        </div>
      </section>
      <section>
        <div class="order-info">
          <div class="order-info__wrapper">
            <div class="order-info__title title title_fz20">К оплате</div>
            <div class="order-info__price title title_fz20">
              {{ total_price }} ₽
            </div>
          </div>
          <div class="order-info__delivery-time__wrapper">
            <label
              for="delivery-time-checkbox"
              class="title title_fz12 order-info__delivery-time__label"
            >
              Выбрать время выдачи заказа
            </label>
            <input
              type="checkbox"
              v-model="isDeliveryTime"
              id="delivery-time-checkbox"
              class="order-info__delivery-time__checkbox"
              :disabled="!cateringIsWorking"
            />
            <select
              :disabled="!isDeliveryTime"
              class="order-info__delivery-time__timepicker"
              v-model="orderDeliveryTime"
              size="3"
            >
              <option v-for="(time, idx) in timeRange" :key="idx">
                {{ time }}
              </option>
            </select>
          </div>
          <button
            @click="payHandle"
            class="button button_main order-info__btn"
            :class="{ button_disable: !cateringIsWorking }"
          >
            <div v-if="cateringIsWorking" class="title">Перейти к оплате</div>
            <div v-else class="title">Заказ недоступен</div>
          </button>
        </div>
      </section>
    </template>
    <div v-else-if="orderCreated" class="order-final-msg">
      <div class="order-final-msg__title title title_center">
        Ваш номер заказа {{ order_id }}
      </div>
      <div class="order-final-msg__icon">
        <fa-icon icon="fa-solid fa-clock" />
      </div>
      <div class="title title_center title_sub">
        Узнать о состоянии заказа можно
        <a class="tg_link" href="https://t.me/FoodCarryBot">здесь</a>
      </div>
    </div>
    <template v-else>
      <div class="title title_fz20 title_center dish-list__title-empty">
        Корзина пока что пустая
      </div>
      <div
        class="title title_center title_sub title_fz14 dish-list__title-empty-sub"
      >
        <router-link :to="{ name: 'home', params: { catering: 1 } }">
          Перейти к списку блюд
        </router-link>
      </div>
    </template>
  </div>
</template>

<script>
import FNavbar from "@/components/TheFNavbar.vue";
import FDishCartCard from "@/components/FDishCartCard.vue";
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  name: "CartView",
  components: {
    FNavbar,
    FDishCartCard,
  },
  data() {
    return {
      orderCreated: false,
      isDeliveryTime: false,
      orderDeliveryTime: `${new Date().getHours()}:${new Date().getMinutes()}`,
    };
  },
  computed: {
    ...mapState({
      order_id: (state) => state.order.order_id,
      tg_id: (state) => state.user.userTgData.tg_id,
    }),
    ...mapGetters({
      all_dishes: "GET_DISHES",
      cart: "GET_CART",
      client_info: "GET_CLIENT_INFO",
    }),
    catering() {
      return this.$route.params.catering;
    },
    cartIsEmpty() {
      return Object.keys(this.cart).length === 0;
    },
    total_price() {
      let total_price = 0;
      for (const dish_id in this.cart) {
        total_price += this.all_dishes[dish_id].price * this.cart[dish_id];
      }
      return total_price;
    },
    startTimeCatering() {
      const startTime = new Date();
      startTime.setHours(8, 0);
      return startTime;
    },
    endTimeCatering() {
      const endTime = new Date();
      endTime.setHours(18, 0);
      return endTime;
    },
    cateringIsWorking() {
      const now = new Date();
      return now > this.startTimeCatering && now < this.endTimeCatering;
    },
    // Получение списка временных меток с периодом 5 минут в формате hh:mm
    timeRange() {
      const timeRangeList = [];
      const startTime = new Date();
      const newTime = new Date();
      newTime.setMinutes(
        startTime.getMinutes() - (startTime.getMinutes() % 5) + 5
      );
      while (newTime <= this.endTimeCatering) {
        let newTimeStr = newTime.toLocaleTimeString().split(":");
        newTimeStr.splice(2, 1);
        newTimeStr = newTimeStr.join(":");
        if (newTime >= this.startTimeCatering) {
          timeRangeList.push(newTimeStr.toString());
        }
        newTime.setMinutes(newTime.getMinutes() + 5);
      }
      return timeRangeList;
    },
  },
  methods: {
    ...mapActions(["create_order", "reset_cart", "set_order_id"]),
    payHandle() {
      if (this.cateringIsWorking) {
        let order_data = { catering: this.catering, tg_id: this.tg_id };
        if (this.isDeliveryTime) {
          order_data.delivery_time = this.orderDeliveryTime;
        }
        this.create_order(order_data).then(() => {
          this.reset_cart();
          this.orderCreated = true;
          setTimeout(() => {
            this.$router.push({ name: "home" });
            this.set_order_id(null);
            this.orderCreated = false;
          }, 5000);
        });
      }
    },
  },
};
</script>

<style scoped lang="scss">
.dish-list {
  &__wrapper {
    padding-bottom: 45px;
    display: grid;
    justify-content: center;
    gap: 15px;
    @media screen and (min-width: 576px) {
      grid-template-columns: repeat(2, 300px);
    }
  }
  &__title-empty {
    margin-top: 50px;
    &-sub {
      margin-top: 25px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.order-info {
  width: 300px;
  margin: 0 auto;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    margin: 45px 0;
    height: 45px;
    width: 100%;
  }
  &__delivery-time {
    &__wrapper {
      margin-top: 15px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 15px;
      width: 100%;
      justify-content: space-between;
    }
    &__label {
    }
    &__checkbox {
      justify-self: start;
    }
    &__timepicker {
      padding: 5px;
      grid-column-start: 2;
      grid-row: 1/3;
    }
  }
}
.order-final-msg {
  padding-top: 150px;

  &__title {
    font-size: 50px;
    line-height: 55px;
  }

  &__icon {
    margin-top: 15px;
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
  }
}
.tg_link {
  text-decoration: underline;
}
</style>
