<template>
  <div class="category">
    <!--  Меню навигации   -->
    <f-navbar cart-btn back-btn>
      <template v-slot:title>
        <div class="title title_fz16 title_center category__title">
          {{ category.title }}
        </div>
      </template>
    </f-navbar>
    <!--  Поиск  -->
    <section class="section-wrapper search">
      <f-input-field placeholder="Поиск">
        <template v-slot:before>
          <fa-icon icon="fa-solid fa-magnifying-glass" />
        </template>
      </f-input-field>
    </section>
    <!--  Список блюд  -->
    <section class="section-wrapper dish-list">
      <template v-if="dishes.length">
        <f-dish-card
          v-for="(dish, idx) in dishes"
          :key="idx"
          @click="cartClickHandler(dish)"
          :dish="dish"
        />
      </template>
      <div v-else class="title title_fz16 title_center">Здесь ничего нет</div>
    </section>
    <!--  Модальное окно  -->
    <f-modal ref="dishModal" class="dish-modal" :dish="currentDish"></f-modal>
  </div>
</template>
<script>
import FInputField from "@/components/FInputField.vue";
import FDishCard from "@/components/FDishCard.vue";
import FModal from "@/components/FDishModal.vue";
import FNavbar from "@/components/TheFNavbar.vue";
import { mapGetters } from "vuex";

export default {
  name: "CategoryView",
  components: {
    FInputField,
    FDishCard,
    FModal,
    FNavbar,
  },
  data() {
    return {
      showDishModal: false,
      currentDish: {},
    };
  },
  computed: {
    ...mapGetters({
      categories: "GET_CATEGORIES",
      dishesByCategoryId: "GET_DISHES_BY_CATEGORY_ID",
    }),
    catering() {
      return this.$route.params.catering;
    },
    category_id() {
      return this.$route.params.category;
    },
    category() {
      const category = this.categories.find(
        (category) => category.id === +this.category_id
      );
      if (category && Object.keys(category).length) return category;
      else return {};
    },
    dishes() {
      return this.dishesByCategoryId(this.category_id);
    },
  },
  methods: {
    cartClickHandler(dish) {
      this.$refs.dishModal.openModal();
      this.currentDish = dish;
    },
  },
};
</script>
<style scoped lang="scss">
.category {
  &-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__btn {
      width: 42px;
      height: 42px;
    }
  }
  &__title {
    height: 42px;
    padding: 0 30px;
    border-radius: 15px;
    line-height: 41px;
    color: v-bind("category.text_color");
    background-color: v-bind("category.bg_color");
  }
}
.dish-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
</style>
