<template>
  <div class="home">
    <!--   Меню навигации   -->
    <f-navbar info cart-btn>
      <template v-slot:info>
        <div class="title">
          Вы авторизованы через Telegram: {{ userTgData.username }}
        </div>
        <img :src="userTgData.photo_url" class="user-photo" />
      </template>
    </f-navbar>
    <!--  Поиск   -->
    <section class="section-wrapper search">
      <f-input-field placeholder="Поиск">
        <template v-slot:before>
          <fa-icon icon="fa-solid fa-magnifying-glass" />
        </template>
      </f-input-field>
    </section>
    <!-- Категории  -->
    <!-- TODO: Сделать слайдер  -->
    <section class="section-wrapper categories">
      <f-categories-list :categories="categories" />
    </section>
    <!--  Быстрый заказ   -->
    <section class="section-wrapper fast-order">
      <div class="title title_fz14px">Комплексные обеды</div>
      <div v-if="dishes.length" class="section-wrapper fast-order__cards">
        <f-card
          v-for="(dish, idx) in dishes"
          :dish="dish"
          :key="idx"
          @click="cartClickHandler(dish)"
        />
      </div>
    </section>
    <!--  Модальное окно  -->
    <f-modal ref="dishModal" class="dish-modal" :dish="currentDish"></f-modal>
  </div>
</template>

<script>
import FCategoriesList from "@/components/FCategoriesList.vue";
import FInputField from "@/components/FInputField.vue";
import FCard from "@/components/FFastOrderCard.vue";
import FNavbar from "@/components/TheFNavbar.vue";
import FModal from "@/components/FDishModal.vue";

import { mapGetters, mapState } from "vuex";

export default {
  name: "HomeView",
  components: {
    FCategoriesList,
    FInputField,
    FCard,
    FNavbar,
    FModal,
  },
  data() {
    return {
      showDishModal: false,
      currentDish: {},
    };
  },
  computed: {
    ...mapGetters({
      categories: "GET_CATEGORIES",
      dishesByCategoryId: "GET_DISHES_BY_CATEGORY_ID",
    }),
    ...mapState({
      userTgData: (state) => state.user.userTgData,
    }),
    dishes() {
      const lunch_category_id = this.categories.find(
        (category) => category.name === "lunch"
      )?.id;
      return this.dishesByCategoryId(lunch_category_id);
    },
  },
  methods: {
    cartClickHandler(dish) {
      this.$refs.dishModal.openModal();
      this.currentDish = dish;
    },
  },
};
</script>
<style scoped lang="scss">
.main-navbar {
  display: flex;
  justify-content: space-between;
  &__btn {
    text-align: center;
    width: 42px;
    height: 42px;
  }
}
.categories {
  display: flex;
  justify-content: space-between;
}
.fast-order {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
.user-photo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
</style>
