<template>
  <div class="login">
    <div class="title title_center login__title">FoodCarry</div>
    <div class="title title_center login__subtitle">
      Я согласен получать уведомления от бота в телеграм:
      <input type="checkbox" v-model="userAgree" />
    </div>
    <div v-show="userAgree" class="login__widget">
      <telegram-login-temp
        mode="callback"
        telegram-login="FoodCarryBot"
        @callback="tgAuthCallback"
        requestAccess="write"
      />
    </div>
  </div>
</template>

<script>
import { telegramLoginTemp } from "vue3-telegram-login";
import { mapActions } from "vuex";
export default {
  name: "TgAuthView",
  components: {
    telegramLoginTemp,
  },
  data() {
    return {
      userAgree: true,
    };
  },
  methods: {
    ...mapActions(["tg_login"]),
    tgAuthCallback(userData) {
      this.tg_login(userData).then(() => {
        // TODO: Добавить поддержку нескольких заведений
        this.$router.push("/catering/1");
      });
    },
  },
};
</script>
<style scoped lang="scss">
.login {
  &__widget {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 40px;
    line-height: 45px;
  }
}
</style>
