<template>
  <section class="order-info__сc">
    <f-navbar back-btn cart-btn>
      <template v-slot:title>
        <div class="title">Столовая</div>
      </template>
    </f-navbar>
    <!-- TODO: Добавить обязательные поля (вынести форму в компонент) -->
    <form
      v-if="!orderCreated"
      @click.prevent
      class="order-info__wrapper section-wrapper"
    >
      <f-input-field
        v-model="client_info.first_name"
        class="order-info__field"
        placeholder="Фамилия"
      />
      <f-input-field
        v-model="client_info.second_name"
        class="order-info__field"
        placeholder="Имя"
      />
      <!--   TODO: Добавить тип поля - email -->
      <f-input-field
        v-model="client_info.client_email"
        class="order-info__field"
        placeholder="Почта"
      />
      <f-select v-model="client_info.paid_type" :options="payOptions" />
      <f-input-field
        v-model="client_info.comment"
        class="order-info__field"
        placeholder="Комментарий"
      />
      <!-- TODO:  Повторяются блоки с CartView    -->
      <div class="order-info__about">
        <div class="order-info__title title title_fz20">К оплате</div>
        <div class="order-info__price title title_fz20">
          {{ total_price }} ₽
        </div>
      </div>
      <router-link to="">
        <button @click="payHandle" class="button button_main order-info__btn">
          <div class="title">Оплатить</div>
        </button>
      </router-link>
    </form>
    <div v-else class="order-final-msg">
      <div class="order-final-msg__title title title_center">
        Ваш номер заказа {{ order_id }}
      </div>
      <div class="order-final-msg__icon">
        <fa-icon icon="fa-solid fa-clock" />
      </div>
    </div>
  </section>
</template>

<script>
import FInputField from "@/components/FInputField.vue";
import FNavbar from "@/components/TheFNavbar.vue";
import FSelect from "@/components/FSelect.vue";
import { mapGetters, mapActions, mapState } from "vuex";
export default {
  name: "OrderInfoView",
  components: {
    FInputField,
    FNavbar,
    FSelect,
  },
  // TODO: Сделать переадресацию, если корзина пустая
  data() {
    return {
      pay: "",
      // TODO: Получение типа оплаты из api
      payOptions: { cash: "Наличными", card: "Картой" },
      orderCreated: false,
    };
  },
  computed: {
    ...mapState({
      order_id: (state) => state.order.order_id,
      tg_id: (state) => state.user.userTgData.tg_id,
    }),
    ...mapGetters({
      dishes: "GET_CART",
      total_price: "GET_TOTAL_PRICE",
      client_info: "GET_CLIENT_INFO",
    }),
    catering() {
      return this.$route.params.catering;
    },
  },
  methods: {
    ...mapActions(["create_order", "reset_cart", "set_order_id"]),
    payHandle() {
      console.log(this.client_info, this.dishes);
      this.create_order({ catering: this.catering, tg_id: this.tg_id }).then(
        () => {
          this.reset_cart();
          this.orderCreated = true;
          setTimeout(() => {
            this.$router.push({ name: "home" });
            this.set_order_id(null);
          }, 5000);
        }
      );
    },
  },
};
</script>

<style scoped lang="scss">
.order-info {
  &__field {
    width: 250px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
  &__btn {
    margin: 45px 0;
    height: 45px;
    width: 250px;
  }
  &__about {
    margin-top: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
}
.order-final-msg {
  padding-top: 150px;
  &__title {
    font-size: 50px;
    line-height: 55px;
  }
  &__icon {
    margin-top: 15px;
    color: var(--main-color);
    text-align: center;
    font-size: 30px;
  }
}
</style>
