<template>
  <button class="f-button" :class="btn_classes" @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "FButton",
  props: {
    btn_classes: {
      type: String,
      default: "",
    },
  },
};
</script>

<style scoped lang="scss">
.f-button {
  border: none;
  border-radius: 15px;
  color: var(--sub-color);
  cursor: pointer;
}
</style>
