<template>
  <div class="f-categories-list" :class="{ 'f-categories-list_mini': is_mini }">
    <f-category
      v-for="(category, idx) in categories"
      :key="idx"
      :category="category"
      :is-mini="is_mini"
    />
  </div>
</template>

<script>
import FCategory from "@/components/FCategory.vue";
export default {
  name: "FCategoriesList",
  components: {
    FCategory,
  },
  props: {
    categories: {
      type: Array,
    },
    is_mini: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
.f-categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  &_mini {
    gap: 5px;
  }
}
</style>
