<template>
  <router-link :to="{ name: 'category', params: { category: category.id } }">
    <div class="f-category" :class="{ 'f-category_mini': isMini }">
      <span class="title title_fz12">{{ category.title }}</span>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "FCategory",
  props: {
    category: {
      type: Object,
    },
    isMini: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
.f-category {
  min-width: 60px;
  max-width: 120px;
  height: 60px;
  line-height: 59px;
  text-align: center;
  border-radius: 15px;
  background-color: v-bind("category.bg_color");
  span {
    color: v-bind("category.text_color");
  }
  &_mini {
    display: inline-block;
    padding: 0 11px;
    height: 20px;
    line-height: 19px;
    min-width: 40px;
    border-radius: 6px;
  }
}
</style>
