<template>
  <swiper :free-mode="swiperOption.freeMode" :slides-per-view="3">
    <swiper-slide v-for="(category, color, idx) in categoriesColors" :key="idx">
      <!--      <f-category :text="category" :color="color" />-->
      {{ idx }}
    </swiper-slide>
  </swiper>
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";

//import FCategory from "@/components/FCategory";
export default {
  name: "FCategoriesSwiper",
  components: {
    Swiper,
    SwiperSlide,
  },
  props: {
    categoriesColors: {
      type: Object,
    },
  },
  data() {
    return {
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
      },
    };
  },
};
</script>

<style scoped lang="scss"></style>
