<template>
  <div class="counter">
    <button @click="addToCounter(-1)" class="button counter__btn" :class="btn_classes">
      <fa-icon icon="fa-solid fa-minus" />
    </button>
    <span class="counter__count" :class="count_classes">{{ counter }}</span>
    <button @click="addToCounter(1)" class="button counter__btn" :class="btn_classes">
      <fa-icon icon="fa-solid fa-plus" />
    </button>
  </div>
</template>

<script>
export default {
  name: "FCounter",
  data() {
    return {
      counter: 0,
    };
  },
  props: {
    initValue: Number,
    min: {
      type: Number,
      default: 0,
    },
    max: {
      type: Number,
      default: 10,
    },
    vertical: {
      type: Boolean,
      default: false,
    },
    count_classes: {
      type: String,
      default: "",
    },
    btn_classes: {
      type: String,
      default: "",
    },
    size: {
      type: Number,
      default: 14,
    },
  },
  computed: {
    isVertical() {
      return this.vertical ? "column" : "row";
    },
    fontSize() {
      return this.size + "px";
    },
  },
  methods: {
    addToCounter(val) {
      if (this.counter + val >= this.min && this.counter + val <= this.max) {
        this.counter += val;
        this.$emit("edit", this.counter);
      }
    },
  },
  mounted() {
    this.counter = this.initValue;
  },
};
</script>

<style scoped lang="scss">
.counter {
  display: flex;
  flex-direction: v-bind(isVertical);
  justify-content: space-between;
  align-items: center;
  &__count {
    text-align: center;
  }
  &__btn {
    svg {
      display: block;
      margin: 0 auto;
    }
  }
}
</style>
