<template>
  <!-- Модальное окно добавление блюда в корзину  -->
  <transition name="modal">
    <div v-show="show" class="modal">
      <!-- Задний фон модального окна -->
      <div @click.self="closeModal" class="modal__backdrop">
        <div class="modal__container">
          <!-- Кнопка закрытия она -->
          <button
            @click="closeModal"
            class="button button_second modal__close-btn"
          >
            <fa-icon icon="fa-solid fa-arrow-left" />
          </button>
          <div class="modal__content">
            <!--  Изображение блюда  -->
            <div class="dish-photo modal__img">
              <img v-if="this.dish.img" :src="this.dish.img" loading="lazy" />
              <img v-else src="@/assets/img/dish_img_large.png" loading="lazy" alt="default-dish-photo">
            </div>
            <!-- Информация о блюде -->
            <div class="modal__wrapper">
              <div class="title title_fz20">{{ dish.name }}</div>
              <f-categories-list :categories="categories" :is_mini="true" />
              <div class="title">Описание</div>
              <p class="modal__desc">{{ dish.desc }}</p>
              <div class="modal-counter__wrapper">
                <f-counter
                  class="modal-counter"
                  btn_classes="button_second modal-counter__btn"
                  count_classes="modal-counter__count"
                  :init-value="this.counter"
                  @edit="onEditCounter"
                  :size="16"
                  :min="1"
                  :max="5"
                />
                <div class="modal-counter__title">{{ totalPrice }} ₽</div>
              </div>
              <button
                @click="toCartHandler"
                class="button button_main modal__cart-btn"
              >
                <div class="title">В корзину</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import FCategoriesList from "@/components/FCategoriesList.vue";
import FCounter from "@/components/FCounter.vue";
import { mapGetters, mapActions } from "vuex";
export default {
  name: "FDishModal",
  components: {
    FCounter,
    FCategoriesList,
  },
  data() {
    return {
      show: false,
      counter: 1,
    };
  },
  props: {
    dish: {
      type: Object,
    },
  },
  methods: {
    ...mapActions(["add_dish_to_cart"]),
    closeModal() {
      this.$emit("close");
      document.documentElement.style.overflow = "auto";
      this.show = false;
    },
    openModal() {
      this.$emit("open");
      document.documentElement.style.overflow = "hidden";
      this.show = true;
      this.counter = 1;
    },
    onEditCounter(newValue) {
      this.counter = newValue;
    },
    toCartHandler() {
      this.add_dish_to_cart({ dish_id: this.dish.id, count: this.counter });
      this.closeModal();
    },
  },
  computed: {
    ...mapGetters({
      categoriesForDish: "GET_CATEGORIES_FOR_DISH",
    }),
    categories() {
      return this.categoriesForDish(this.dish);
    },
    totalPrice() {
      return this.dish.price * this.counter;
    },
  },
};
</script>
<style scoped lang="scss">
.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  &__backdrop {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.31) none no-repeat;
    display: flex;
    align-items: center;
  }
  &__container {
    position: relative;
    padding-top: 180px;
    margin: auto;
    background-color: var(--second-color);
    border-radius: 15px;
    height: 650px;
    width: 800px;
    @media screen and (max-width: 576px) {
      border-radius: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  &__close-btn {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 125px 35px 35px;
    background-color: white;
  }
  &__cart-btn {
    width: 100%;
    height: 45px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 225px;
    width: 225px;
    img {
      width: 225px;
      height: 225px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    row-gap: 20px;
  }
  &__desc {
    color: var(--sub-color);
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.25s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
</style>
<style lang="scss">
.modal-counter {
  border: 1px solid var(--sub-color);
  border-radius: 10px;
  width: 145px;
  height: 35px;
  color: var(--main-color);
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    width: 40px;
    background-color: white;
  }
  &__count {
    line-height: 35px;
    flex-grow: 1;
    height: 100%;
    border-right: 1px solid var(--sub-color);
    border-left: 1px solid var(--sub-color);
  }
}
</style>
