<template>
  <div class="f-dish-card">
    <div class="f-dish-card__body">
      <!-- Изображение блюда -->
      <div class="dish-photo f-dish-card__img">
        <img v-if="this.dish.img" :src="this.dish.img" loading="lazy" />
        <img
          v-else
          src="@/assets/img/dish_img.png"
          loading="lazy"
          alt="default-dish-photo"
        />
      </div>
      <div class="title title_fz12 title_center f-dish-card__title">
        {{ dish.name }}
      </div>
      <!-- Добавление в корзину -->
      <div class="f-dish-card__info">
        <div class="title title_fz10">{{ dish.price }} ₽</div>
        <button
          class="button button_second f-dish-card__btn"
          @click="$emit('click')"
        >
          <fa-icon icon="fa-solid fa-cart-shopping" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FDishCard",
  props: {
    dish: {
      type: Object,
    },
  },
};
</script>
<style scoped lang="scss">
.f-dish-card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 150px;
  height: 120px;
  padding: 40px 10px 10px;
  margin-top: 40px;
  box-shadow: 0 10px 30px -10px rgba(34, 60, 80, 0.4);
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    position: absolute;
    top: -40px;
    left: 35px;
    img {
      width: 80px;
      height: 80px;
    }
  }
  &__btn {
    border-radius: 8px;
    width: 30px;
    height: 30px;
  }
}
</style>
