<template>
  <div class="f-dish-cart-card">
    <div class="dish-photo f-dish-cart-card__img">
      <img v-if="this.dish.img" :src="this.dish.img" loading="lazy" />
      <img
        v-else
        src="@/assets/img/dish_img_small.png"
        loading="lazy"
        alt="default-dish-photo"
      />
    </div>
    <div class="f-dish-cart-card__info">
      <div class="f-dish-cart-card__title title">{{ dish.name }}</div>
      <div class="f-dish-cart-card__price">{{ dish.price }} ₽</div>
    </div>
    <f-counter
      vertical
      btn_classes="f-dish-cart-card__btn button_main button_pill"
      count_classes="f-dish-cart-card__count"
      :init-value="cart[dish_id]"
      @edit="onEditCounter"
      :min="0"
      :max="5"
    />
  </div>
</template>

<script>
import FCounter from "@/components/FCounter.vue";

import { mapGetters, mapActions } from "vuex";
export default {
  name: "FDishCartCard",
  components: {
    FCounter,
  },
  props: {
    dish_id: {
      type: Number,
    },
  },
  data() {
    return {
      counter: 1,
    };
  },
  methods: {
    ...mapActions([
      "remove_dish_from_cart",
      "set_order_dish_count",
    ]),
    onEditCounter(newValue) {
      if (newValue === 0) {
        this.remove_dish_from_cart(this.dish_id);
      } else {
        this.set_order_dish_count({ dish_id: this.dish_id, count: newValue });
      }
    },
  },
  computed: {
    ...mapGetters({
      dishes: "GET_DISHES",
      cart: "GET_CART",
    }),
    dish() {
      return this.dishes[this.dish_id];
    },
    dish_photo_url() {
      return this.dish.img ? this.dish.img : "/src/assets/img/dish_img_small.png";
    },
  },
};
</script>

<style scoped lang="scss">
.f-dish-cart-card {
  padding: 8px;
  width: 300px;
  min-height: 80px;
  border-radius: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 60px auto 40px;
  column-gap: 10px;
  &__title {
    margin-top: 6px;
  }
  &__price {
    margin-top: 8px;
    font-size: 14px;
    color: var(--sub-color);
  }
}
</style>
<style lang="scss">
.f-dish-cart-card {
  &__btn {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
  &__count {
    font-size: 14px;
  }
  &__img img {
    width: 60px;
    height: 60px;
  }
}
</style>
