<template>
  <div class="f-fast-order-card">
    <div class="f-fast-order-card__img" ></div>
    <div class="f-fast-order-card__body">
      <div class="title title_fz12">{{ dish.name }}</div>
      <div class="title title_fz10">{{ dish.price }} Р</div>
      <div class="f-card-fast-order__categories">
        <f-categories-list :categories="dishCategories(dish)" :is_mini="true" />
      </div>
      <button
        class="button button_second f-fast-order-card__btn"
        @click="$emit('click')"
      >
        <fa-icon icon="fa-solid fa-cart-shopping" />
      </button>
    </div>
  </div>
</template>

<script>
import FCategoriesList from "@/components/FCategoriesList.vue";
import { mapGetters } from "vuex";
export default {
  name: "FCard",
  components: {
    FCategoriesList,
  },
  props: {
    dish: {
      type: Object,
    },/*
    img_name: {
      type: String,
      default: "",
    },*/
  },
  computed: {
    ...mapGetters({
      dishCategories: "GET_CATEGORIES_FOR_DISH",
    }),/*
    backgroundImg() {
      const img = new URL(`/src/assets/${name}.png`, import.meta.url).href;
      /!*require(`@/assets/img/${this.img_name}`);*!/
      console.log(img);
      return { "background-image": `url('${img}')` };
    },*/
  },
};
</script>

<style scoped lang="scss">
.f-fast-order-card {
  width: 248px;
  background-color: white;
  box-shadow: 0 10px 30px -10px rgba(34, 60, 80, 0.4);
  border-radius: 15px;
  &__body {
    min-height: 75px;
    padding: 14px 16px 10px;
  }
  &__categories {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  &__img {
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/src/assets/img/food_img.png");
  }
  &__btn {
    margin-top: 5px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
  }
}
</style>
