<template>
  <div class="f-field">
    <div class="f-field__before"><slot name="before"></slot></div>
    <input
      type="text"
      v-model="value"
      class="f-field__input"
      :placeholder="placeholder"
    />
    <div class="f-field__after"><slot name="after"></slot></div>
  </div>
</template>
<script>
export default {
  name: "FInputField",
  props: ["modelValue", "placeholder"],
  emits: ["update:modelValue"],
  computed: {
    value: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  },
  data() {
    return {};
  },
};
</script>

<style scoped lang="scss">
.f-field {
  height: 45px;
  width: 100%;
  border-radius: 15px;
  padding: 0 15px;
  background: white;
  display: flex;
  align-items: center;
  &__before,
  &__after {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 5px;
    color: var(--sub-color);
  }
  &__input {
    display: block;
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    &::placeholder {
      color: var(--sub-color);
    }
  }
}
</style>
