<template>
  <div class="select">
    <div class="select__options">
      <button
        v-for="(optionTitle, optionValue) in options"
        class="button select__option"
        :class="[isEdge(optionValue), isActive(optionValue)]"
        :key="optionValue"
        @click="setActive(optionValue)"
      >
        {{ optionTitle }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "FSelect",
  props: {
    modelValue: [String, Number, Array, Object],
    options: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {};
  },
  methods: {
    setActive(optionValue) {
      this.currentValue = optionValue;
    },
  },
  computed: {
    currentValue: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
    isActive() {
      return (optionValue) =>
        this.currentValue === optionValue ? "button_main" : "button_second";
    },
    isEdge() {
      return (optionValue) => {
        if (optionValue === Object.keys(this.options)[0]) return "select__option_left";
        else if (
          optionValue ===
          Object.keys(this.options)[Object.keys(this.options).length - 1]
        )
          return "select__option_right";
      };
    },
  },
  mounted() {
    this.currentValue = Object.keys(this.options)[0];
  },
};
</script>

<style scoped lang="scss">
.select {
  &__options {
    display: flex;
    border-radius: 15px;
    width: 250px;
    height: 45px;
  }
  &__option {
    border-radius: 0;
    flex-basis: 500px;
    &_right {
      border-radius: 0 15px 15px 0;
    }
    &_left {
      border-radius: 15px 0 0 15px;
    }
  }
}
</style>
