<template>
  <div class="f-footer">
    <!-- TODO: Сделать поддержку разных заведений-->
    <router-link
      :to="{ name: 'home', params: { catering: 1 } }"
      class="button button_pill"
      :class="{ button_second: isActive('home') }"
    >
      <div class="title title_fz14 f-footer__btn">
        <fa-icon icon="fa-solid fa-house" />
        <span class="f-footer__btn-title">На главную</span>
      </div>
    </router-link>
    <!-- TODO: Сделать поддержку разных заведений-->
    <router-link
      :to="{ name: 'cart', params: { catering: 1 } }"
      :class="{ button_second: isActive('cart') }"
      class="button button_pill"
    >
      <div class="title title_fz14 f-footer__btn">
        <fa-icon icon="fa-solid fa-cart-shopping" />
        <span class="f-footer__btn-title">Корзина</span>
        <span v-if="cartCount" class="cart-counter">
          {{ cartCount }}
        </span>
      </div>
    </router-link>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "FFooter",
  computed: {
    ...mapState({
      cartCount: (state) => state.order.cart.length,
    }),
    isActive() {
      return (routeName) => routeName === this.$router.currentRoute.value.name;
    },
  },
};
</script>

<style scoped lang="scss">
.f-footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  background-color: white;
  width: 100%;
  border-radius: 15px 15px 0 0;
  padding: 20px 40px 30px;
  display: flex;
  justify-content: space-between;
  &__btn {
    min-width: 100px;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    &-title {
      margin-left: 5px;
      @media screen and (max-width: 375px) {
        display: none;
      }
    }
  }
}
.cart-counter {
  padding: 0 8px;
  height: 10px;
  background: var(--main-color);
  color: white;
  border-radius: 50%;
}
</style>
