<template>
  <nav class="f-navbar">
    <button
      v-if="backBtn"
      @click="$router.back()"
      class="button button_main f-navbar__btn"
    >
      <fa-icon icon="fa-solid fa-arrow-left" />
    </button>
    <div v-if="info" class="f-navbar__info">
      <slot name="info"></slot>
    </div>
    <div class="f-navbar__title">
      <slot name="title"></slot>
    </div>
    <!-- TODO: Сделать поддержку разных заведений-->
    <router-link
      v-if="cartBtn"
      class="title"
      :to="{ name: 'cart', params: { catering: 1 } }"
    >
      <button class="button button_main f-navbar__btn">
        <fa-icon icon="fa-solid fa-shopping-cart" />
      </button>
    </router-link>
  </nav>
</template>

<script>
export default {
  name: "FNavbar",
  props: {
    cartBtn: {
      type: Boolean,
      default: false,
    },
    backBtn: {
      type: Boolean,
      default: false,
    },
    info: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped lang="scss">
.f-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &__btn {
    width: 42px;
    height: 42px;
    line-height: 44px;
  }
}
</style>
