<template>
  <div id="app">
    <div class="container">
      <router-view />
    </div>
    <footer v-if="$router.currentRoute.value.name !== 'login'">
      <f-footer />
    </footer>
  </div>
</template>
<script>
import FFooter from "./components/TheFFooter.vue";
import {mapActions, mapState} from "vuex";
export default {
  name: "App",
  components: {
    FFooter,
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({
      tg_id: (state) => state.user.userTgData.tg_id,
    }),
    catering() {
      return this.$route.params.catering;
    },
  },
  methods: {
    ...mapActions(["get_categories", "get_dishes", "get_user"]),
  },
  mounted() {
    this.get_categories();
    this.get_dishes();
    if (this.tg_id !== "") {
      this.get_user(this.tg_id);
    } else this.$router.push("/loging");
  },
};
</script>
<style lang="scss">
@import "src/assets/scss/style.scss";
.section-wrapper {
  padding-top: 30px;
}
</style>
