<template>
  <div class="error-404">
    <div class="title title_center error-404__title">
      Ничего не найдено (404)
    </div>
    <div class="title title_center error-404__link">
      <router-link :to="{ name: 'home', params: { catering: 1 } }">
        Перейти в заведение
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "TheError404",
};
</script>

<style scoped lang="scss">
.error-404 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: var(--main-color);
  &__title {
    font-size: 40px;
    line-height: 42px;
    color: white;
    margin-top: 20px;
  }
  &__link {
    display: block;
    color: #f5f5f5;
    font-size: 20px;
    line-height: 22px;
    margin-top: 50px;
    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
